*{
  margin: 0px;
  padding: 0px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
  background-color: red;
  color:#fff;
}
.form-control label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.form-control input {
  width: 70%;
  height: 20px;
  padding: 3px 7px;
  font-size: 17px;
}



.form-control input:focus {
  outline: 0;
}
.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}
.btn:focus {
  outline: none;
  color: white;
}
.btn-block {
  width: 20%;
  height: 30px;
  padding: 3px 7px;
  font-size: 17px;
  margin-bottom: 10px;
}
.btn-block-cancel {
  width: 5%;
  height: 30px;
  padding: 3px 7px;
  font-size: 17px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 2px;
}


.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.textBold {
  font-weight: bold;
}
.delIcon {
  color: red;
  cursor: pointer;
}
.editIcon {
  color: blue;
  cursor: pointer;
} 

.tasklist{
  list-style-type: none;  
 
 
}

ul {  
  list-style-type: none;  
 
  }  

  .table-style{
    width: 100%;
  }

  table,
  th,
  td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
  }

  tr:nth-child(odd) {
      background-color: #8F9AA5;
  }